<div class="page-header">
  <h1>
    Saved Favorite
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Pitcher Name</th>
        <th>Pitcher Team</th>
        <th>User_email</th>
        <th>Actions</th>
      </tr>

      <tr>
        <td><%= @like.pitcher_name %></td>
        <td><%= @like.team_code %></td>
        <td><%= @like.user_id %></td>
        <td>
          <a href="/delete_like/<%= @like.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
    </table>
  </div>
